%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand.nav-brand{:href => "#"} Micro-Learning
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link.btn.btn-outline-secondary{:href => "/register"} sign up

.landing-page
  .row
    .col-sm-6
      .info
        %h4 Do not get left behind.
        %p Start learning something new each day with our Micro-Learning-Application. Get a daily digest from our application depending on your preferences.
        %a.get-started{:href => "#sign-in"} Get Started
    .col-sm-6.main-img
      %img{:src=> "imgs/main.png" }

.login-page#sign-in
  .login-space
    .row
      .col-sm-6.back
        %img.background-image{:src=>"imgs/background.jpg"}
      .col-sm-6.sign-in-space
        %h4 login
        %button.btn.btn-outline-secondary.google-login{:type=>"button"}
          %img.button-icon{:src=>"imgs/google.svg"} Google login
        %p.or or
        %form.needs-validation{:action => "/login", :method => "post", :role => "form", :novalidate => ""}
          .form-group
            %input#useremail.form-control{:placeholder => "email", :required => "", :name => "email", :type => "email", :value => ""}/
            .invalid-feedback
              provide a valid email!
            - if flash[:email]
              .form-group{class: "show-warning"}
                %div{class: "alert alert-danger", "data-alert" => ""}
                  = flash[:email]

          .form-group
            %input#userpassword.form-control{:placeholder => "password", :required => "", :name => "password", :type => "password", :value => ""}/
            .invalid-feedback
              provide a valid password
              - if flash[:password]
                .form-group{class: "show-warning"}
                  %div{class: "alert alert-danger", "data-alert" => ""}
                    = flash[:password]
          %button.btn.btn-outline-primary.sign-in{:type => "submit"} Sign in


:javascript
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
