.sidebar
  %ul#selector
    %li
      %a{:href=>'/topics'}
        %img{:src=>'imgs/focus.svg', :title=>"Daily digest"} 
    %li
      %a{:href=>'/categories'}
        %img{:src=>'imgs/grid.svg', :title=>"Categories"} 
    %li
      %a{:href=>'/addcategories'}
        %img{:src=>'imgs/add.svg', :title=>"Add categories"} 
    %li
      %a{:href=>'/logout'}
        %img{:src=>'imgs/power.svg', :title=>"User account"} 